
* {
  box-sizing: border-box;
}

body{
	background-color:#f1f3f8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#btn{
	margin:20px 0 20px 40px;
	background-color: #8d93ab;
	border:none;
	padding:10px;
	cursor:pointer;
}

.flex-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:100%;
}

.flex-container .instruction {
	flex-basis:31%;
	padding:20px;
	height: 515px;

}

.flex-container .instruction h2{
	margin:0;
}

.flex-container .instruction ol li{
	margin: 10px 0;
}

.flex-container .instruction span{
	padding-top: 24px;
	padding-left: 32%;
	display: inline-block;
	font-size: 2em;
	font-weight: 400;
}
.flex-container .container {
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-basis:69%;
}

.container .etch{
	width:568px;
	height:568px;
	background-color: #d6e0f0;
	line-height: 0;
}

.black{
	background-color: black;
}

.height{
	border:1px solid #000;
	display:inline-block;
}

