

body{
	background-color:#f1f3f8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#btn{
	margin:20px 0;
	background-color: #8d93ab;
	border:none;
	padding:10px;
	cursor:pointer;
}

.container {
	display: flex;
	justify-content: center;
	align-items:center;
}

.container .etch{
	width:512px;
	height:512px;
	background-color: #d6e0f0;
	line-height: 0;
}

.black{
	background-color: black;
}

.height{
	border:1px solid #000;
	display:inline-block;
}

